<div class="container-fluid " style=" height: 100vh; overflow: hidden;">


  <div class="row " style=" height: 100vh">

    <div class="col-6 d-flex align-items-center ">

      <div class="card m-3 text-center" style="width: 100%">
        <h1 class="p-2">
          IR Project
        </h1>

        <div class="row">
          <div class="col-6">
            <div>
              <div >
                <img src="../assets/1.png" width="100" height="100">
                <div class="card-body">
                  <h5 class="card-title">CISI</h5>
                  <input 
                  (change)="onItemChange($event.target)"
                  class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="CISI"
                    aria-label="...">
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">  <div class="col-6">
            <div>
              <div >
                <img src="../assets/2.webp" width="100" height="100">
                <div class="card-body">
                  <h5 class="card-title">cacm</h5>
                  <input 
                  (change)="onItemChange($event.target)"
                  class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="cacm"
                    aria-label="...">
                </div>
              </div>
            </div>
          </div></div>
        </div>
        <app-search [ds]="datasetChoose" (getData)="getDataFromApp($event)" ></app-search>

      </div>

    </div>

    <div class="col-6" style="max-height: 100vh;overflow: scroll;">
     <app-view-results [data]="data"></app-view-results>
    </div>

  </div>

</div>