
<div class="search-bar">
	<input [(ngModel)]="filed" list="dynmicUserIds" #f type="search" name="search" pattern=".*\S.*" 
	required (input)="change($event.target)">
	<datalist id="dynmicUserIds">
		<option *ngFor="let item of userList1" [value]="item">{{item}}</option>
	 </datalist>
	<button class="search-btn" (click)="submit(f)">
		<span>Search</span>
	</button>


</div>

<div class="m-2" *ngIf="d!=''">
	<p>Did You : <a href="#" (click)="changeInput()">{{d}}</a>  </p>
</div>
