
    <div class="card m-2">
        <img src="../../../assets/3.webp" class="card-img-top m-1" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{data.id}}</h5>
          <p class="card-text">Title: {{data.title}}</p>
          <!-- <button type="button" (click)="openFormModal()" class="btn btn-primary btn-large">Show</button> -->
          <button  class="btn btn-primary btn-large" (click)="show()">Open</button>
        </div>
      </div>

      <ngx-smart-modal #(data.title) identifier="{{data.title}}">
        <h3>{{getData().title}}</h3>
        <p> {{getData().subject}} </p>
      
        <!-- <button (click)="myModal.close()">Close</button> -->
      </ngx-smart-modal>

